body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f4f4f4;
}
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 16px; 
    padding: 16px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-content {
    padding: 16px;
}

.card-title {
    font-size: 1.5em;
    margin: 0;
}

.card-description {
    margin: 8px 0;
    color: #666;
}

.card-button {
    display: inline-block;
    padding: 10px 16px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.card-button:hover {
    background-color: #0056b3;
}

.card-delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: red; /* ou outra cor */
}

.card-start-date,
.card-end-date {
    font-size: 0.9em;
    color: #999;
}